body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    background-color: #000000;
    color: white;
    height: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}

.search-container button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #555;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #777;
}